body{
    background: linear-gradient(60deg, #781735, #EB2929);
    color: white;
}
header{
    background: rgba(0, 0, 0, 0.263);
    color: white;
    backdrop-filter: blur(10px);
}
nav{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-top:10px;
    padding-right: 10px;
}
.logo{
    font-size: 24px;
    font-weight: bold;
  font-family: "Sekuya", system-ui;
  font-weight: 400;
  font-style: normal;
}
.logo span{
    color: #EB2929;
}
.loginbtnnav{
    background-color: red;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}
.loginbtnnav:hover{
    box-shadow: 0 0 10px red;
    background: transparent;
    border: solid 2px red;
    color: red;
}